.contact_wrapper{
    
    width: 100%;
    height: 900px;
    background-image: url('../../assets/images/img1.webp');
    background-size: cover;
    padding-top: 400px;
    
    h1{
        font-size: $f_lg;
        color: $white;
    }
    h6{
        color: $white;
        font-size: $f_txt_sm;
    }

}