.career_wrapper {
  .left {
    .left-wrapper {
      .left-body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;

        h2 {
          color: $green;
          letter-spacing: 0.2rem;

          span {
            color: $secondary;
          }
        }

        p {
          font-family: "Syne-regular";
          color: $text-color;
          font-size: $f_sm;
        }
      }

      .left-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .career_cards {
          flex: 1;
          height: 150px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: $transition_medium;
          }

          &:hover {
            img {
                transform: scale(1.02);
            }
          }
        }
      }
    }
  }
}

.right {
  background-color: $light_gray;

  .form-headings {
    h2 {
      color: $green;
      letter-spacing: 0.2rem;

      span {
        color: $secondary;
      }
    }
  }

  .form-wrapper {
    .btn-primary {
      padding: 12px 50px;
    }

    input[type="file"] {
      display: none;
    }

    .custom-file-upload {
      display: block;
      cursor: pointer;
    }
  }
}
