.respite_wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 50px;

  .banner {
    background-image: url(../../assets/images/img3.PNG);
    height: 398px;
    width: 100%;
    background-size: cover;
    padding-top: 150px;

    .my_text {
      h1 {
        font-size: $f_lg;
        color: $white;
      }
      .my_btn {
        background-color: $white;
        margin: 20px 0 0 -20px;
        width: 200px;
        font-size: $f_txt_md;
      }
    }
  }
  .banner1{
    padding-top: 50px;


    .my_text1{
      padding-left: 30px;

      h1{
        font-size: $f_md;
        color: $secondary;
        font-weight: $medium;

        span{
          color: rgb(165, 204, 103);
        }
      }
      p{
          font-size: $f_txt_md;
      }
      h5{
          font-size: $f_txt_md;
      }
      ul{
        margin-left: 35px;
        
        li{
          font-size: $f_txt_sm;
        }
      }
      button{
        margin: 70px 70px 0 90px;
        width: 250px;
      }
    }
    .my_img{

        img{
            width: 90%;
            height: 475px;
            background-size: cover;
            background-position: center;
        }
    }
  }
}