.cleaning_wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 50px;


  .banner1{
    padding-top: 50px;


    .my_text1{
      padding-left: 30px;

      h1{
        font-size: $f_md;
        color: $secondary;
        font-weight: $medium;

        span{
          color: $green;
        }
      }
      p{
          font-size: $f_txt_md;
      }
      h5{
          font-size: $f_txt_md;
      }
      ul{
        margin-left: 35px;
        
        li{
          font-size: $f_txt_sm;
        }
      }
      .btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        button {
          width: 200px;
          margin: 10px 0;
        }
      }
    }
    .my_img{

        img{
            width: 90%;
            height: 475px;
            object-fit: cover;
            background-position: center;
        }
    }
  }
  .banner2 {
    .my_text1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1 {
        font-size: $f_lg;
        color: $secondary;
        letter-spacing: 2px;
        span {
          color: $green;
        }
      }
      .underline {
        width: 20%;
        background-color: rgba(165, 204, 103, 1);
        height: 0.01rem;
        margin: 15px 0;
      }
    }
    .cards {
      width: 100%;
      height: auto;
      display: flex;

      .card {
        width: 18% !important;
        margin: 10px 10px 10px 2px;

        img {
          height: 350px;
          width: 100%;
          object-fit: cover;
          border-radius: 25%;
        }
        h3 {
          color: $secondary;
          font-size: $f_sm;
          letter-spacing: 1px;
        }
        p {
          color: $green;
          font-size: 16px;
        }
        button {
          width: 100%;
          font-size: 8px;
          height: auto;
        }
      }
    }
  }
}
@media (min-width: 360px) and (max-width: 800px) {
  .cleaning_wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 50px;

    .banner1 {
      .my_text1 {
        .btns {
          width: 100%;
          display: flex;
          flex-direction: column;

          button {
            width: 200px;
            margin: 10px 0 !important;
          }
        }
      }
    }
    .banner2 {
      .my_text1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
          font-size: $f_lg;
          color: $secondary;
          letter-spacing: 2px;
          span {
            color: $green;
          }
        }
        .underline {
          width: 20%;
          background-color: rgba(165, 204, 103, 1);
          height: 0.01rem;
          margin: 15px 0;
        }
      }
      .cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        .card1 {
          margin-left: 0 !important;
        }
        .card {
          width: 100% !important;
          margin: 10px 10px 10px 2px;

          img {
            height: 350px;
            width: 100%;
            object-fit: cover;
            border-radius: 25%;
          }
          h3 {
            color: $secondary;
            font-size: $f_sm;
            letter-spacing: 1px;
          }
          p {
            color: $green;
            font-size: 16px;
          }
          button {
            width: 100%;
            font-size: 8px;
            height: auto;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cleaning_wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 50px;

    .banner1 {
      .my_text1 {
        .btns {
          width: 100%;
          display: flex;
          flex-direction: column;

          button {
            width: 200px;
            margin: 10px 0 !important;
          }
        }
      }
    }
    .banner2 {
      .my_text1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
          font-size: $f_lg;
          color: $secondary;
          letter-spacing: 2px;
          span {
            color: $green;
          }
        }
        .underline {
          width: 20%;
          background-color: rgba(165, 204, 103, 1);
          height: 0.01rem;
          margin: 15px 0;
        }
      }
      .cards {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        .card1 {
          margin-left: 0 !important;
        }
        .card {
          width: 50% !important;
          margin: 10px 10px 10px 2px;
        }
      }
    }
  }
}
