// FONT FACES
@font-face {
  font-family: Syne-bold;
  src: url(../fonts/Syne-Bold.ttf);
}

@font-face {
  font-family: Syne-medium;
  src: url(../fonts/Syne-Medium.ttf);
}

@font-face {
  font-family: Syne-extra-bold;
  src: url(../fonts/Syne-ExtraBold.ttf);
}

@font-face {
  font-family: Syne-regular;
  src: url(../fonts/Syne-Regular.ttf);
}

@font-face {
  font-family: Syne-semi-bold;
  src: url(../fonts/Syne-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui";
}

body {
  padding-top: 225px;
}

a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
}

.c_container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

section {
  padding: 60px 0;
}

// colors

.color_secondary {
  color: $secondary;
}
.color_primary {
  color: $primary;
}
.bg_secondary {
  background-color: $secondary;
}
.bg_primary {
  background-color: $primary;
}

// navbar stylings

nav {
  height: 226px;
  width: 100%;
  display: flex !important;
  align-items: center;
  position: fixed;
  z-index: 101;
  background-color: $white;
  transition: $transition_light;
  top: 0;
  left: 0;

  .mobile_nav {
    display: none;
  }

  .nav_wrapper {
    width: 100%;
    display: flex;

    .mobile_menu {
      display: none;
    }

    .nav_cols {
      display: flex;
      align-items: center;
      justify-content: center;

      &.logo_wrapper {
        width: 150px;
        img {
          width: 150px;
          height: 150px;
          object-fit: contain;
          transition: $transition_light;
        }
      }
      &.links_styles {
        flex-grow: 1;

        > a {
          color: $text-color;
          font-size: 20px;
          margin: 0 20px;
          font-weight: $medium;
          text-decoration: none;
        }
      }
    }
  }

  &.animated_nav {
    height: 120px;

    .nav_cols {
      &.logo_wrapper {
        img {
          height: 100px;
          width: 100px;
        }
      }
    }
  }
}

// dropdown _____________________________________________________________________________________________

.dropdown_wrapper {
  position: relative;

  > a {
    color: $text_color;
    font-size: 20px;
    margin: 0 20px;
    font-weight: $medium;
    cursor: pointer;
  }

  .dpd_icon {
    transform: rotate(0deg);
    transition: $transition_medium;
  }

  .dropdown_container {
    position: absolute;
    z-index: 100;
    background-color: $light_gray;
    display: none;
    left: 15px;
    top: 35px;
    border-radius: 4px;
    overflow: hidden;

    &:hover {
      display: block;
    }

    .dropdown_items {
      height: 60px;
      width: 210px;
      display: flex;
      padding: 15px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-decoration: none;
      color: $primary;

      &:hover {
        background: $gradient_primary;
        color: $white;
      }
    }
  }

  &.show_dropdown {
    .dropdown_container {
      display: block;
      animation: showDropdown both 0.6s;
    }
    .dpd_icon {
      transform: rotate(180deg);
    }
  }
  &.exit_dropdown {
    .dropdown_container {
      display: block;
      animation: hideDropdown both 0.2s;
    }
  }
}

@keyframes showDropdown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes hideDropdown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

// footer stylings ____________________________________________________________________________________
.wrapper {
  margin-top: -10rem;
  // position: absolute;

  .form_wrapper {
    position: relative;
    bottom: -200px;
    background-color: $secondary;
    font-size: $f_sm;
    border-radius: 2rem;
    padding: 5rem;
    color: $white;

    .conatct_details_warpper {
      h2 {
        font-size: $f_lg;
        font-family: "Syne-semi-bold" !important;

        span {
          color: $green;
        }
      }

      .details {
        padding: 2rem 0;

        p {
          font-family: "Syne-bold" !important;

          span {
            font-family: "Syne-bold" !important;
            color: $green;
          }
        }
      }
    }

    .contact_form_wrapper {
      h2 {
        font-family: "Syne-semi-bold" !important;
        text-underline-offset: 0.5rem;
        text-decoration: underline;
        font-size: $f_md;
      }

      form {
        padding: 2rem 0;

        .form-row {
          label {
            font-family: "Syne-semi-bold" !important;
            color: $green;
            font-size: $f_sm;
          }

          button {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .footer_wrapper {
    font-family: "Syne-semi-bold" !important;
    background-color: $primary;
    width: 100vw;
    padding: 300px 1rem 2rem 1rem;

    .footer_container {
      display: flex;
      flex-wrap: wrap;
      color: $white;
      gap: 1rem;

      .cols {
        flex: 1;
        min-width: 250px;
        max-width: 350px;

        .icons {
          display: flex;
          gap: 1rem;
          flex: 1;

          i {
            padding: 1rem;
            border-radius: 50%;
            font-size: $f_sm;
            color: $white;
            background-color: $secondary;
          }
        }

        img {
          margin-bottom: 1rem;
          height: 200px;
          width: 200px;
        }

        .links {
          margin: 1rem;

          a {
            font-family: "Syne-semi-bold" !important;
            color: $white;

            &:hover {
              text-decoration: underline;
              color: $green;
              text-decoration-color: $green;
              text-underline-offset: 1rem;
            }
          }
        }
      }
    }
  }
}

// buttons stylings _____________________________________________________________________________________________

.styled_button {
  padding: 18px 25px;
  border-radius: 30px;
  transition: $transition_medium;
  font-weight: 600;

  &.fill {
    width: 100%;
    text-align: center;
  }

  &.thin {
    padding: 12px 25px;
  }

  &.btn_lg {
    width: 180px;
  }

  &:active {
    transform: scale(0.95);
  }

  &.primary {
    background-color: $primary;
    color: #fff;

    &:hover {
      background-color: $secondary;
    }
  }
  &.secondary {
    background-color: $secondary;
    color: #fff;

    &:hover {
      background-color: $primary;
    }
  }

  &.f_sm {
    font-size: 12px;
  }
  &.f_md {
    font-size: 14px;
  }
  &.f_lg {
    font-size: 16px;
  }

  &.icon_styles {
    display: flex;
    align-items: center;

    i {
      margin-right: 10px;

      &.icon_sm {
        font-size: 18px;
      }
      &.icon_md {
        font-size: 22px;
      }
      &.icon_lg {
        font-size: 26px;
      }
    }
  }

  &.animated {
    position: relative;
    padding: 12px 50px;
    width: 250px;
    height: 50px;

    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50px;
      border-radius: 50px;
      background-color: $secondary;
      z-index: -1;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &.animated_lg {
    height: 60px;
    width: 260px;

    &::after {
      height: 100%;
      width: 60px;
    }
  }
  &.animated_white {
    background-color: $white;
  }
}

// banner _____________________________________________________________________________________________

.banner-wrapper {
  background-size: cover !important;
  height: calc(100vh - 226px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;

  justify-content: center;
  align-items: center;

  .banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .banner-heading {
      h2 {
        //
        font-size: $f_lg;
        font-family: "Syne-semi-bold";
        text-transform: capitalize;
        color: $white;
      }
    }

    .primary {
      background-color: $white;
      color: #000000;

      &:hover {
        color: #fff;
      }
    }

    .underline {
      width: 10%;
      background-color: $white;
      height: 0.1rem;
    }
  }
}

.animated_button {
  position: relative;
  z-index: 1;
  font-weight: 600;

  &.uppercase {
    text-transform: uppercase;
  }

  &.lg {
    // width: 190px;
    height: 45px;
    font-size: $f_txt_xsm;
    display: flex;
    align-items: center;
    padding: 0 18px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 45px;
      border-radius: 50px;
      background-color: $secondary;
      z-index: -1;
    }
  }
  &.xlg {
    // width: 190px;
    height: 65px;
    font-size: $f_txt_xsm;
    display: flex;
    align-items: center;
    padding: 0 18px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 65px;
      border-radius: 50px;
      background-color: $secondary;
      z-index: -1;
    }
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.styled_rounded_card {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #a7a7a7;
  padding-bottom: 40px;
  margin: auto;
  .image_container {
    height: 360px;
    overflow: hidden;
    border-radius: 80px;
    img {
      border-radius: 80px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content_container {
    padding: 20px 30px;
    text-align: center;

    .card_title {
      font-size: $f_sm;
      color: $primary;
    }
    .car_subtitle {
      font-size: $f_txt_sm;
      color: $secondary;
    }
  }
}

.styled_card_2 {
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 10px #a7a7a7;
  height: 100%;
  img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    transition: $transition_medium;

    &:hover {
      transform: scale(1.05);
    }
  }

  .button_container {
    padding: 0 18px;
    .styled_button {
      transform: translateY(-50%);
    }
  }
  .content_container {
    padding: 12px;
    padding-top: 0;
    padding-bottom: 30px;
    .card_title {
      color: $primary;
      font-size: $f_md;
      padding: 0 15px;
    }

    p,
    ul {
      margin-top: 20px;
    }
    ul {
      margin-left: 50px;
    }
    li {
      line-height: 2;
    }
    p,
    li {
      font-size: $f_txt_md;
    }
  }
}

// for services

.flex_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  .styled_rounded_card {
    min-width: 200px;
    width: unset;
    flex: 1;
  }
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 160px;
  }

  nav {
    height: 160px;
    .nav_wrapper {
      position: relative;
      .mobile_menu {
        display: block;
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);

        button {
          font-size: 24px;
          color: $primary;
        }
      }

      .nav_cols {
        &.logo_wrapper {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 120px;
            height: 120px;
          }
        }

        &.links_styles {
          display: none;
        }
        &:last-child {
          display: none;
        }
      }
    }
    &.animated_nav .nav_cols.logo_wrapper img {
      height: 80px;
      width: 80px;
    }

    .mobile_nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      z-index: 111;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: #ffffff;
      transform: translateY(-100%);
      transition: $transition_high;
      opacity: 0;
      padding: 60px 20px;
      padding-bottom: 0;
      overflow-y: auto;

      .close_icon {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 100;
        font-size: 26px;
        i {
          color: $primary;
        }
      }

      .mobile_links_container {
        padding: 5px 0;
        a {
          color: #000000;
          margin: 10px 0;
          cursor: pointer;
          text-decoration: none;
          font-size: $f_txt_md;
        }
        .dpd_icon {
          transform: rotate(0deg);
          transition: $transition_medium;
        }
        .mobile_dropdown {
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          height: 0;
          overflow: hidden;
        }

        &.open_mobile_dropdown {
          .dpd_icon {
            transform: rotate(180deg);
          }

          .mobile_dropdown {
            height: auto;
            overflow: unset;
          }
        }
      }

      &.open_nav {
        transform: translateX(0);
        opacity: 1;
      }

      .get_in_touch {
        width: calc(100% + 40px);
        position: relative;
        left: -20px;
        padding: 20px;
        background-color: $primary;
        color: #fff;
        display: flex;
        flex-direction: column;

        a {
          color: #fff;
        }

        h1 {
          font-size: $f_sm;
          text-transform: uppercase;
        }

        .border {
          width: 50px;
          margin: 30px 0;
          height: 2px;
          background-color: #fff;
        }

        .icons_container {
          display: flex;
          padding: 10px 0;

          .icons {
            height: 30px;
            width: 30px;
            background-color: #ffffffea;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            color: $primary;
            margin-right: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // footer stylings
  .wrapper {
    .form_wrapper {
      padding: 1rem;
      font-size: $f_extrasm;

      .conatct_details_warpper {
        h2 {
          font-size: 30px;
        }
      }

      .contact_form_wrapper {
        h2 {
          font-size: 25px;
        }

        form {
          .form-row {
            label {
              font-size: $f_extrasm;
            }
          }
        }
      }
    }

    .footer_wrapper {
      .cols {
        text-align: center;

        h2,
        .links {
          text-align: left;
        }
      }
    }
  }

  //banner
  .banner-wrapper {
    .banner {
      .banner-heading {
        h2 {
          font-size: $f_sm;
        }
      }
    }
  }

  // services page
}
