* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui";
}

a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
}

// navbar stylings

.nav_wrapper {
    width: 100%;
}
