* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui";
}

body {
  padding-top: 220px;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

@font-face {
  font-family: Syne-bold;
  src: url(../fonts/Syne-Bold.ttf);
}
@font-face {
  font-family: Syne-medium;
  src: url(../fonts/Syne-Medium.ttf);
}
@font-face {
  font-family: Syne-extra-bold;
  src: url(../fonts/Syne-ExtraBold.ttf);
}
@font-face {
  font-family: Syne-regular;
  src: url(../fonts/Syne-Regular.ttf);
}
@font-face {
  font-family: Syne-semi-bold;
  src: url(../fonts/Syne-SemiBold.ttf);
}
.color_secondary {
  color: #2a9afe;
}

.color_primary {
  color: #0054a1;
}

.bg_secondary {
  background-color: #2a9afe;
}

.bg_primary {
  background-color: #0054a1;
}

nav {
  height: 226px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 101;
  background-color: #ffffff;
  transition: 0.2s;
  top: 0;
  left: 0;
}
nav .nav_wrapper {
  width: 100%;
  display: flex;
}
nav .nav_wrapper .nav_cols {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav_wrapper .nav_cols.logo_wrapper {
  width: 150px;
}
nav .nav_wrapper .nav_cols.logo_wrapper img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.2s;
}
nav .nav_wrapper .nav_cols.links_styles {
  flex-grow: 1;
}
nav .nav_wrapper .nav_cols.links_styles a {
  color: hsl(230deg, 61%, 14%);
  font-size: 18px;
  padding: 0 15px;
  font-weight: 600;
}
nav.animated_nav {
  height: 120px;
}
nav.animated_nav .nav_cols.logo_wrapper img {
  height: 100px;
  width: 100px;
}

.dropdown_wrapper {
  position: relative;
}
.dropdown_wrapper a {
  color: hsl(230deg, 61%, 14%);
  font-size: 18px;
  padding: 0 15px;
  font-weight: 600;
  cursor: pointer;
}
.dropdown_wrapper .dropdown_container {
  position: absolute;
  z-index: 100;
  background-color: #faf9f9;
  display: none;
  left: 15px;
  top: 25px;
  border-radius: 4px;
  overflow: hidden;
}
.dropdown_wrapper .dropdown_container .dropdown_items {
  height: 60px;
  width: 150px;
  display: flex;
  padding: 15px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #0054a1;
}
.dropdown_wrapper .dropdown_container .dropdown_items:hover {
  background: linear-gradient(90deg, #2a9afe 0, #0054a1 100%);
  color: #ffffff;
}
.dropdown_wrapper.show_dropdown .dropdown_container {
  display: block;
  -webkit-animation: showDropdown both 0.6s;
          animation: showDropdown both 0.6s;
}
.dropdown_wrapper.exit_dropdown .dropdown_container {
  display: block;
  -webkit-animation: hideDropdown both 0.6s;
          animation: hideDropdown both 0.6s;
}

@-webkit-keyframes showDropdown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes showDropdown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes hideDropdown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes hideDropdown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.styled_button {
  padding: 18px 25px;
  border-radius: 30px;
  transition: 0.3s;
}
.styled_button:active {
  transform: scale(0.95);
}
.styled_button.primary {
  background-color: #0054a1;
  color: #fff;
}
.styled_button.primary:hover {
  background-color: #2a9afe;
}
.styled_button.secondary {
  background-color: #2a9afe;
  color: #fff;
}
.styled_button.secondary:hover {
  background-color: #0054a1;
}
.styled_button.f_sm {
  font-size: 12px;
}
.styled_button.f_md {
  font-size: 14px;
}
.styled_button.f_lg {
  font-size: 16px;
}
.styled_button.icon_styles {
  display: flex;
  align-items: center;
}
.styled_button.icon_styles i {
  margin-right: 10px;
}
.styled_button.icon_styles i.icon_sm {
  font-size: 18px;
}
.styled_button.icon_styles i.icon_md {
  font-size: 22px;
}
.styled_button.icon_styles i.icon_lg {
  font-size: 26px;
}
.styled_button.animated {
  position: relative;
  padding: 12px 50px;
  z-index: 1;
}
.styled_button.animated::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 45px;
  border-radius: 50px;
  background-color: #2a9afe;
  z-index: -1;
}
.styled_button.animated:hover::after {
  width: 100%;
}

.banner-wrapper {
  background-size: cover !important;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.banner-wrapper .banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.banner-wrapper .banner .banner-heading h2 {
  font-family: "Syne-semi-bold";
  text-transform: capitalize;
  color: #ffffff;
}
.banner-wrapper .banner .underline {
  width: 15%;
  background-color: #ffffff;
  height: 0.1rem;
}

.career_wrapper .left .left-wrapper .left-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.career_wrapper .left .left-wrapper .left-body h2 {
  color: #a5cc67;
  letter-spacing: 0.2rem;
}
.career_wrapper .left .left-wrapper .left-body h2 span {
  color: #2a9afe;
}
.career_wrapper .left .left-wrapper .left-body p {
  font-family: "Syne-regular";
  color: hsl(230deg, 61%, 14%);
  font-size: 24px;
}
.career_wrapper .left .left-wrapper .left-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.career_wrapper .left .left-wrapper .left-cards .card:hover {
  transform: scale(1.03);
}

.right {
  background-color: #faf9f9;
}
.right .form-headings h2 {
  color: #a5cc67;
  letter-spacing: 0.2rem;
}
.right .form-headings h2 span {
  color: #2a9afe;
}
.right .form-wrapper .btn-primary {
  padding: 12px 50px;
}
.right .form-wrapper input[type=file] {
  display: none;
}
.right .form-wrapper .custom-file-upload {
  display: block;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */