@font-face {
  font-family: Syne-bold;
  src: url(../fonts/Syne-Bold.ttf);
}
@font-face {
  font-family: Syne-medium;
  src: url(../fonts/Syne-Medium.ttf);
}
@font-face {
  font-family: Syne-extra-bold;
  src: url(../fonts/Syne-ExtraBold.ttf);
}
@font-face {
  font-family: Syne-regular;
  src: url(../fonts/Syne-Regular.ttf);
}
@font-face {
  font-family: Syne-semi-bold;
  src: url(../fonts/Syne-SemiBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui";
}

body {
  padding-top: 225px;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

.color_secondary {
  color: #2a9afe;
}

.color_primary {
  color: #0054a1;
}

.bg_secondary {
  background-color: #2a9afe;
}

.bg_primary {
  background-color: #0054a1;
}

nav {
  height: 226px;
  width: 100%;
  display: flex !important;
  align-items: center;
  position: fixed;
  z-index: 101;
  background-color: #ffffff;
  transition: 0.2s;
  top: 0;
  left: 0;
}
nav .nav_wrapper {
  width: 100%;
  display: flex;
}
nav .nav_wrapper .nav_cols {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav_wrapper .nav_cols.logo_wrapper {
  width: 150px;
}
nav .nav_wrapper .nav_cols.logo_wrapper img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.2s;
}
nav .nav_wrapper .nav_cols.links_styles {
  flex-grow: 1;
}
nav .nav_wrapper .nav_cols.links_styles > a {
  color: hsl(230deg, 61%, 14%);
  font-size: 20px;
  margin: 0 20px;
  font-weight: 600;
  text-decoration: none;
}
nav.animated_nav {
  height: 120px;
}
nav.animated_nav .nav_cols.logo_wrapper img {
  height: 100px;
  width: 100px;
}

.dropdown_wrapper {
  position: relative;
}
.dropdown_wrapper > a {
  color: hsl(230deg, 61%, 14%);
  font-size: 20px;
  margin: 0 20px;
  font-weight: 600;
  cursor: pointer;
}
.dropdown_wrapper .dropdown_container {
  position: absolute;
  z-index: 100;
  background-color: #faf9f9;
  display: none;
  left: 15px;
  top: 35px;
  border-radius: 4px;
  overflow: hidden;
}
.dropdown_wrapper .dropdown_container .dropdown_items {
  height: 60px;
  width: 210px;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #0054a1;
}
.dropdown_wrapper .dropdown_container .dropdown_items:hover {
  background: linear-gradient(90deg, #2a9afe 0, #0054a1 100%);
  color: #ffffff;
}
.dropdown_wrapper.show_dropdown .dropdown_container {
  display: block;
  -webkit-animation: showDropdown both 0.6s;
          animation: showDropdown both 0.6s;
}
.dropdown_wrapper.exit_dropdown .dropdown_container {
  display: block;
  -webkit-animation: hideDropdown both 0.6s;
          animation: hideDropdown both 0.6s;
}

@-webkit-keyframes showDropdown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes showDropdown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes hideDropdown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes hideDropdown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.footer_wrapper {
  width: 100%;
  background-color: hsl(230deg, 61%, 14%);
  height: auto;
  padding-left: 150px;
  padding-top: 80px;
}
.footer_wrapper .contact {
  width: 90%;
  height: 600px;
  background-color: #0054a1;
  border-radius: 20px;
  padding-top: 50px;
  display: flex;
}
.footer_wrapper .contact .text {
  width: 50%;
  padding-left: 50px;
}
.footer_wrapper .contact .text h1 {
  color: #ffffff;
  font-size: 48px;
  margin: 20px 0;
}
.footer_wrapper .contact .text h1 span {
  color: #a5cc67;
}
.footer_wrapper .contact .text h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 20px 0;
}
.footer_wrapper .contact .text h2 span {
  color: #a5cc67;
}
.footer_wrapper .contact .text h3 {
  color: #ffffff;
  font-size: 18px;
  margin: 20px 0;
}
.footer_wrapper .contact .inputs {
  width: 50%;
}
.footer_wrapper .contact .inputs h1 {
  font-size: 32px;
  letter-spacing: 1px;
  color: white;
  border-bottom: 2px solid white;
  width: 180px;
}
.footer_wrapper .contact .inputs .input {
  display: inline-block;
  margin: 20px 20px 20px 0;
}
.footer_wrapper .contact .inputs .input h2 {
  font-size: 18px;
  color: #a5cc67;
  padding-bottom: 10px;
}
.footer_wrapper .contact .inputs .input input {
  width: 225px;
  height: 40px;
}
.footer_wrapper .contact .inputs .input select {
  width: 225px;
  height: 40px;
}
.footer_wrapper .contact .inputs .input .ip1 {
  height: 80px;
  width: 476px;
}
.footer_wrapper .contact .inputs .Submit_Btn_overlay {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 230px;
  height: 50px !important;
  position: relative;
}
.footer_wrapper .contact .inputs .Submit_Btn_overlay:hover span {
  width: 100%;
}
.footer_wrapper .footer {
  width: 100%;
  height: 500px;
  display: flex;
  padding-top: 100px;
}
.footer_wrapper .footer .link {
  width: 23%;
  color: #ffffff;
}
.footer_wrapper .footer .link img {
  border-radius: 100%;
  height: 185px;
}
.footer_wrapper .footer .link h1 {
  color: #a5cc67;
  font-size: 24px;
}
.footer_wrapper .footer .link h5 {
  font-size: 14px;
  font-weight: 400;
}
.footer_wrapper .footer .link div {
  margin: 20px 0 20px 20px;
}
.footer_wrapper .footer .link div a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.footer_wrapper .footer .link .icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer_wrapper .footer .link .icons div {
  font-size: 35px;
}

.styled_button {
  padding: 18px 25px;
  border-radius: 30px;
  transition: 0.3s;
}
.styled_button:active {
  transform: scale(0.95);
}
.styled_button.primary {
  background-color: #0054a1;
  color: #fff;
}
.styled_button.primary:hover {
  background-color: #2a9afe;
}
.styled_button.secondary {
  background-color: #2a9afe;
  color: #fff;
}
.styled_button.secondary:hover {
  background-color: #0054a1;
}
.styled_button.f_sm {
  font-size: 12px;
}
.styled_button.f_md {
  font-size: 14px;
}
.styled_button.f_lg {
  font-size: 16px;
}
.styled_button.icon_styles {
  display: flex;
  align-items: center;
}
.styled_button.icon_styles i {
  margin-right: 10px;
}
.styled_button.icon_styles i.icon_sm {
  font-size: 18px;
}
.styled_button.icon_styles i.icon_md {
  font-size: 22px;
}
.styled_button.icon_styles i.icon_lg {
  font-size: 26px;
}
.styled_button.animated {
  position: relative;
  padding: 12px 50px;
  z-index: 1;
}
.styled_button.animated::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 45px;
  border-radius: 50px;
  background-color: #2a9afe;
  z-index: -1;
}
.styled_button.animated:hover::after {
  width: 100%;
}

.banner-wrapper {
  background-size: cover !important;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.banner-wrapper .banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.banner-wrapper .banner .banner-heading h2 {
  font-family: "Syne-semi-bold";
  text-transform: capitalize;
  color: #ffffff;
}
.banner-wrapper .banner .primary {
  background-color: #ffffff;
  color: #000000;
}
.banner-wrapper .banner .primary:hover {
  color: #fff;
}
.banner-wrapper .banner .underline {
  width: 15%;
  background-color: #ffffff;
  height: 0.1rem;
}

.contact_wrapper {
  width: 100%;
  height: 900px;
  background-image: url("../assests/images//img1.webp");
  background-size: cover;
  padding-top: 400px;
}
.contact_wrapper h1 {
  font-size: 48px;
  color: #ffffff;
}
.contact_wrapper h6 {
  color: #ffffff;
  font-size: 16px;
}

.mental_wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.mental_wrapper .banner1 {
  padding-top: 50px;
}
.mental_wrapper .banner1 .my_text1 {
  padding-left: 30px;
}
.mental_wrapper .banner1 .my_text1 h1 {
  font-size: 30px;
  color: #2a9afe;
  font-weight: 600;
}
.mental_wrapper .banner1 .my_text1 h1 span {
  color: rgb(165, 204, 103);
}
.mental_wrapper .banner1 .my_text1 p {
  font-size: 18px;
}
.mental_wrapper .banner1 .my_text1 h5 {
  font-size: 18px;
}
.mental_wrapper .banner1 .my_text1 ul {
  margin-left: 35px;
}
.mental_wrapper .banner1 .my_text1 ul li {
  font-size: 16px;
}
.mental_wrapper .banner1 .my_text1 button {
  margin: 70px 70px 0 90px;
  width: 250px;
}
.mental_wrapper .banner1 .my_img img {
  width: 90%;
  height: 475px;
  background-size: cover;
  background-position: center;
}

.disability_wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.disability_wrapper .banner1 {
  padding-top: 50px;
}
.disability_wrapper .banner1 .my_text1 {
  padding-left: 30px;
}
.disability_wrapper .banner1 .my_text1 h1 {
  font-size: 30px;
  color: #2a9afe;
  font-weight: 600;
}
.disability_wrapper .banner1 .my_text1 h1 span {
  color: rgb(165, 204, 103);
}
.disability_wrapper .banner1 .my_text1 p {
  font-size: 18px;
}
.disability_wrapper .banner1 .my_text1 h5 {
  font-size: 18px;
}
.disability_wrapper .banner1 .my_text1 ul {
  margin-left: 35px;
}
.disability_wrapper .banner1 .my_text1 ul li {
  font-size: 16px;
}
.disability_wrapper .banner1 .my_text1 button {
  margin: 70px 70px 0 90px;
  width: 250px;
}
.disability_wrapper .banner1 .my_img img {
  width: 90%;
  height: 475px;
  background-size: contain;
  background-position: center;
}

.children_wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.children_wrapper .banner1 {
  padding-top: 50px;
}
.children_wrapper .banner1 .my_text1 {
  padding-left: 30px;
}
.children_wrapper .banner1 .my_text1 h1 {
  font-size: 30px;
  color: #2a9afe;
  font-weight: 600;
}
.children_wrapper .banner1 .my_text1 h1 span {
  color: rgb(165, 204, 103);
}
.children_wrapper .banner1 .my_text1 .h1 {
  color: black;
}
.children_wrapper .banner1 .my_text1 p {
  font-size: 18px;
}
.children_wrapper .banner1 .my_text1 h5 {
  font-size: 18px;
}
.children_wrapper .banner1 .my_text1 ul {
  margin-left: 35px;
}
.children_wrapper .banner1 .my_text1 ul li {
  font-size: 16px;
}
.children_wrapper .banner1 .my_text1 button {
  margin: 70px 70px 0 90px;
  width: 250px;
}
.children_wrapper .banner1 .my_img img {
  width: 88%;
  height: 475px;
  background-size: contain;
  background-position: center;
  margin: 0 0 10px 15px;
}
.children_wrapper .banner1 .my_img .img {
  width: 93%;
  margin: 0 !important;
}

.support_wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.support_wrapper .banner1 {
  padding-top: 50px;
}
.support_wrapper .banner1 .my_text1 {
  padding-left: 30px;
}
.support_wrapper .banner1 .my_text1 h1 {
  font-size: 30px;
  color: #2a9afe;
  font-weight: 600;
}
.support_wrapper .banner1 .my_text1 h1 span {
  color: rgb(165, 204, 103);
}
.support_wrapper .banner1 .my_text1 p {
  font-size: 18px;
}
.support_wrapper .banner1 .my_text1 h5 {
  font-size: 18px;
}
.support_wrapper .banner1 .my_text1 ul {
  margin-left: 35px;
}
.support_wrapper .banner1 .my_text1 ul li {
  font-size: 16px;
}
.support_wrapper .banner1 .my_text1 button {
  margin: 70px 70px 0 90px;
  width: 250px;
}
.support_wrapper .banner1 .my_img img {
  width: 90%;
  height: 475px;
  background-size: cover;
  background-position: center;
}

.respite_wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.respite_wrapper .banner1 {
  padding-top: 50px;
}
.respite_wrapper .banner1 .my_text1 {
  padding-left: 30px;
}
.respite_wrapper .banner1 .my_text1 h1 {
  font-size: 30px;
  color: #2a9afe;
  font-weight: 600;
}
.respite_wrapper .banner1 .my_text1 h1 span {
  color: rgb(165, 204, 103);
}
.respite_wrapper .banner1 .my_text1 p {
  font-size: 18px;
}
.respite_wrapper .banner1 .my_text1 h5 {
  font-size: 18px;
}
.respite_wrapper .banner1 .my_text1 ul {
  margin-left: 35px;
}
.respite_wrapper .banner1 .my_text1 ul li {
  font-size: 16px;
}
.respite_wrapper .banner1 .my_text1 button {
  margin: 70px 70px 0 90px;
  width: 250px;
}
.respite_wrapper .banner1 .my_img img {
  width: 90%;
  height: 475px;
  background-size: cover;
  background-position: center;
}

.cleaning_wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.cleaning_wrapper .banner1 {
  padding-top: 50px;
}
.cleaning_wrapper .banner1 .my_text1 {
  padding-left: 30px;
}
.cleaning_wrapper .banner1 .my_text1 h1 {
  font-size: 30px;
  color: #2a9afe;
  font-weight: 600;
}
.cleaning_wrapper .banner1 .my_text1 h1 span {
  color: rgb(165, 204, 103);
}
.cleaning_wrapper .banner1 .my_text1 p {
  font-size: 18px;
}
.cleaning_wrapper .banner1 .my_text1 h5 {
  font-size: 18px;
}
.cleaning_wrapper .banner1 .my_text1 ul {
  margin-left: 35px;
}
.cleaning_wrapper .banner1 .my_text1 ul li {
  font-size: 16px;
}
.cleaning_wrapper .banner1 .my_text1 button {
  margin: 70px 70px 0 90px;
  width: 250px;
}
.cleaning_wrapper .banner1 .my_img img {
  width: 90%;
  height: 475px;
  background-size: cover;
  background-position: center;
}

.counselling_wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.counselling_wrapper .banner1 {
  padding-top: 50px;
}
.counselling_wrapper .banner1 .my_text1 {
  padding-left: 30px;
}
.counselling_wrapper .banner1 .my_text1 h1 {
  font-size: 30px;
  color: #2a9afe;
  font-weight: 600;
}
.counselling_wrapper .banner1 .my_text1 h1 span {
  color: rgb(165, 204, 103);
}
.counselling_wrapper .banner1 .my_text1 h5 {
  font-size: 18px;
}
.counselling_wrapper .banner1 .my_text1 button {
  margin: 70px 70px 0 90px;
  width: 250px;
}
.counselling_wrapper .banner1 .my_img img {
  width: 65%;
  height: 519px;
  background-size: cover;
  background-position: center;
}

.career_wrapper .left .left-wrapper .left-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.career_wrapper .left .left-wrapper .left-body h2 {
  color: #a5cc67;
  letter-spacing: 0.2rem;
}
.career_wrapper .left .left-wrapper .left-body h2 span {
  color: #2a9afe;
}
.career_wrapper .left .left-wrapper .left-body p {
  font-family: "Syne-regular";
  color: hsl(230deg, 61%, 14%);
  font-size: 24px;
}
.career_wrapper .left .left-wrapper .left-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.career_wrapper .left .left-wrapper .left-cards .card:hover {
  transform: scale(1.03);
}

.right {
  background-color: #faf9f9;
}
.right .form-headings h2 {
  color: #a5cc67;
  letter-spacing: 0.2rem;
}
.right .form-headings h2 span {
  color: #2a9afe;
}
.right .form-wrapper .btn-primary {
  padding: 12px 50px;
}
.right .form-wrapper input[type=file] {
  display: none;
}
.right .form-wrapper .custom-file-upload {
  display: block;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */